body {
  background: #fff;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
body .title {
  text-align: center;
  margin-top: 10vh;
  font-size: 6vh;
}
body .content1 {
  background-color: #DCE0EA;
  padding: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.2vh;
  width: 80%;
  display: flex;
  border-radius: 20px;
  margin-top: 10vh;
}
body .content1 .text {
  text-align: left;
}
body .content1 .text h2 {
  border-left: 4px solid #000;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0b0b33;
}
body .content1 .text h3 {
  margin-top: 10px;
  line-height: 3.4vh;
}
body .content1 .content1_img1 {
  height: 200px;
  margin-right: 20px;
  margin-left: 20px;
}
body .content1 .content1_img2 {
  height: 200px;
}
body .content2 {
  background-color: #DCE0EA;
  padding: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.2vh;
  width: 80%;
  display: flex;
  border-radius: 20px;
  margin-top: 10vh;
}
body .content2 .text {
  text-align: left;
}
body .content2 .text h2 {
  border-left: 4px solid #000;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0b0b33;
}
body .content2 .text h3 {
  margin-top: 10px;
  line-height: 3.4vh;
}
body .content2 .content2_img1 {
  height: 230px;
  margin-left: 20px;
  margin-right: 20px;
}
body .content4 {
  background-color: #DCE0EA;
  padding: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.2vh;
  width: 80%;
  display: flex;
  border-radius: 20px;
  margin-top: 10vh;
}
body .content4 .text {
  text-align: left;
}
body .content4 .text h2 {
  border-left: 4px solid #000;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0b0b33;
}
body .content4 .text h3 {
  margin-top: 10px;
  line-height: 3.4vh;
}
body .content4 .content4_img1 {
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
body .content5 {
  background-color: #DCE0EA;
  padding: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.2vh;
  width: 80%;
  display: flex;
  border-radius: 20px;
  margin-top: 10vh;
}
body .content5 .text {
  text-align: left;
}
body .content5 .text h2 {
  border-left: 4px solid #000;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0b0b33;
}
body .content5 .text h3 {
  margin-top: 10px;
  line-height: 3.4vh;
}
body .content5 .content5_img1 {
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
body .content6 {
  background-color: #DCE0EA;
  padding: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.2vh;
  width: 80%;
  display: flex;
  border-radius: 20px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
body .content6 .text {
  text-align: left;
}
body .content6 .text h2 {
  border-left: 4px solid #000;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0b0b33;
}
body .content6 .text h3 {
  margin-top: 10px;
  line-height: 3.4vh;
}
body .content6 .content4_img1 {
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
